---
layout: page
---
{% assign org = page.organization %}
<div>
    <article>
        <header>
            <h1>{{ page.name }}</h1>
            <p>
                {% if page.roles %}<span>{% for role in page.roles %}{{ role }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% endif %}
                <time>
                    <span>{{ page.start_date | date: '%Y-%m'}}</span>
                    <span>{{ page.end_date | date: '%Y-%m' }}</span>
                </time>
            </p>
        </header>
        {{ content }}
    </article>
</div>