title: Henrik Becker Consulting AB
usp: Building the right software right
repository: handiman/handiman.github.io
production_url: https://www.henrikbecker.net
author:
  name: Henrik Becker
  github: handiman
tile_color: '#303030'
permalink: pretty
sass:
 sass_dir: _sass
 style: compressed

plugins:
  - jekyll-readme-index
  - jekyll-sitemap
  - jekyll-seo-tag

exclude: [ 
 "node_modules",
 "Gemfile", 
 "Gemfile.lock", 
 "Rakefile", 
 "*.orig"]

collections:
 usp:
  output: false
 projects:
  output: false
 employment:
  output: false
 certs:
  output: false 
 fun_facts:
  output: false

excerpt_separator: <!--more-->

defaults:
 - scope: 
    path: "*.*"
   values:
    layout: page 
 - scope:
    path: README.md
   values: 
    layout: page
 - scope:
    path: googlef0bc3dbe928e1f73.html
   values:
    sitemap: false
 - scope:
    path: assets/**/*.*
   values:
    sitemap: false

readme_index:
  enabled: false
  remove_originals: false
  with_frontmatter: false    