title: Henrik Becker Consulting AB
usp: Building the right software right
repository: handiman/handiman.github.io
production_url: https://www.henrikbecker.net
author:
  name: Henrik Becker
  type: Person
  url: https://www.henrikbecker.net
  github: handiman
  links: 
    - https://github.com/handiman
    - https://www.linkedin.com/in/prettygoodprogrammer
tile_color: '#303030'
permalink: pretty
sass:
 sass_dir: _sass
 style: compressed

plugins:
  - jekyll-readme-index
  - jekyll-sitemap
  - jekyll-seo-tag

exclude: [ 
 "node_modules",
 "Gemfile", 
 "Gemfile.lock", 
 "Rakefile", 
 "*.orig"]

collections:
 usp:
  output: false
 projects:
  output: false
 employment:
  output: false
 certs:
  output: false 
 fun_facts:
  output: false

excerpt_separator: <!--more-->

defaults:
  - scope:
      path: ""
    values:
      layout: page
      image:
        path: /assets/img/portrait-800x1199.jpg
        alt: Henrik Becker
        height: 1199
        width: 800
  - scope:
     path: googlef0bc3dbe928e1f73.html
    values:
     sitemap: false
     layout: null
  - scope:
     path: assets/**/*.*
    values:
     sitemap: false
     layout: null
  - scope:
     path: feed*.*
    values:
     sitemap: false
     layout: null

readme_index:
  enabled: false
  remove_originals: false
  with_frontmatter: false    