title: Henrik Becker Consulting AB
usp: Building the right software right
repository: handiman/handiman.github.io
production_url: https://www.henrikbecker.net
author:
  name: Henrik Becker
  type: Person
  url: https://www.henrikbecker.net
  github: handiman
  links: 
    - https://github.com/handiman
    - https://www.linkedin.com/in/prettygoodprogrammer
tile_color: '#F5F5F5'
permalink: pretty
sass:
 sass_dir: _sass
 style: compressed

plugins:
  - jekyll-readme-index
  - jekyll-sitemap
  - jekyll-seo-tag

exclude: 
  - node_modules
  - Gemfile
  - Gemfile.lock
  - "*.orig"

collections:
 projects:
  output: true
  permalink: /:collection/:title
 education:
  output: true  
  permalink: /:collection/:title
 employment:
  output: true
  permalink: /:collection/:title
 usp:
  output: true
  permalink: /unique-selling-points/:title
 certs:
  output: false 
 fun_facts:
  output: false
  permalink: /fun-facts/:title

excerpt_separator: <!--more-->

defaults:
  - scope:
      path: ""
    values:
      layout: page
      image:
        path: /assets/img/portrait-800x1199.jpg
        alt: Henrik Becker
        height: 1199
        width: 800
# <Collections>        
  - scope:
      path: ""
      type: projects
    values:
      layout: project
      sitemap: false
  - scope:
      path: ""
      type: education
    values:
      layout: education
      sitemap: false
  - scope:
      path: ""
      type: employment
    values:
      layout: employer
      sitemap: false
  - scope:
      path: ""
      type: fun_facts
    values:
      sitemap: false
  - scope:
      path: ""
      type: usp
    values:
      layout: usp
      sitemap: false
  - scope:
      path: ""
      type: certs
    values:
      sitemap: false      
# </Collections>
  - scope:
     path: googlef0bc3dbe928e1f73.html
    values:
     sitemap: false
     layout: null
  - scope:
     path: assets/**/*.*
    values:
     sitemap: false
     layout: null
  - scope:
     path: feed*.*
    values:
     sitemap: false
     layout: null

readme_index:
  enabled: false
  remove_originals: false
  with_frontmatter: false    