---
layout: page
title: Henrik Becker - CV
---
{% assign model = site.data['semantic-model'] %}{% assign person = site.data['person'] %}{% assign profile = site.data['profile'] %}{% capture data_source %}{{ page.url | absolute_url }}{% endcapture %}

<main id="#content">
    <section id="introduction" data-source="{{ page.url | absolute_url }}#introduction">
        <h2>Introduction</h2>
        <p>
            Henrik started working with software development in 1999 during the &quot;IT-boom&quot; in Stockholm. 
            Over the years, he has grown into a senior backend-focused consultant with deep expertise in system integration. 
            He has worked with every major incarnation of .NET and ASP.NET - from the early days of Web Forms to modern cloud native APIs. 
            He focuses on backend development with automation, integration, and clean code built on SOLID principles.
        </p>
    </section>               
    {% if site.data['profile']['coreSkills'] %}<section id="core-competencies" data-source="{{ page.url | absolute_url }}#core-competencies">
        <h2>Core Compentencies</h2>
        <ul>{% for skillCategory in site.data['profile']['coreSkills'] %}
            <li>{{ skillCategory.name }}{% if skillCategory.skills %} ({{ skillCategory.skills | join: ', ' }}){% endif %}</li>{% endfor %}
        </ul>
    </section>{% endif %}
    <section id="featured-projects" data-source="{{ page.url | absolute_url }}#featured-projects">
        <h2>Featured Projects</h2>{% for featuredProject in site.data.profile.featuredProjects %}
        {% assign xpId = '/projects/' | append: featuredProject %}
        {% assign xpSlug = 'featured-project-' | append: featuredProject %}
        {% assign xp = site.projects | where: "id", xpId | first %}
        {% capture xpName %}{% if xp.name %}{{ xp.name }}{% else %}{{xp.title}}{% endif %}{% endcapture %}
        {% if xp %}<article id="{{ xpSlug }}" data-section="{{ xpName }}" data-source="{{ page.url | absolute_url }}#{{ xpSlug }}">
            <header>
                <h3>{{ xpName }}</h3>
                <p>
                    {% if xp.roles %}<span>{% for role in xp.roles %}{{ role }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% endif %}
                    <time>
                        <span>{{ xp.start_date | date: '%Y-%m'}}</span>
                        <span>{{ xp.end_date | date: '%Y-%m' }}</span>
                    </time>
                </p>
            </header>
            <p>{% if xp.summary %}{% for summary in xp.summary %}{{ summary | strip | replace: '.', '' }}. {% endfor %}{% else %}{{ xp.excerpt | strip }}{% endif %}</p>
            {% if xp.competencies %}
            <h4>Core Compentencies</h4>
            <ul class="competencies">{% for competency in xp.competencies %}
                <li>
                    <details>
                        <summary class="label">{{ competency.name }}</summary>
                        <ul>{% for tech in competency.tech %}
                            <li>{{ tech }}</li>
                        {% endfor %}</ul>
                    </details>
                    <span class="bar" data-weight="{{ competency.weight }}"></span>
                </li>
            {% endfor %}</ul>
            {% endif %}
        </article>{% endif %}{% endfor %}
    </section> 
    <section id="professional-context">
        <h2>Professional Context</h2>
        <article id="languages" data-source="{{ page.url | absolute_url }}#languages" data-section="Languages">
            <h3>Languages</h3>
            <ul>{% for language in profile['languages'] %}<li><strong>{{ language.name }}:</strong> {{ language.proficiency }}</li>{% endfor %}</ul>
        </article>
        <article id="certifications" data-source="{{ page.url | absolute_url }}#certifications" data-section="Certifications">
            <h3>Certifications</h3>
            <ul>{% for cert in site.certs %}<li><strong>{{ cert.title }}:</strong> {% if cert.issuer %}{{ cert.issuer }} {% endif %}{% if cert.achievement_date %}(<date>{{ cert.achievement_date }}</date>){% endif %}</li>{% endfor %}</ul>
        </article>
        <article id="education" data-source="{{ page.url | absolute_url }}#education" data-section="Education">
            <h3>Education</h3>
            <ul>{% for education in site.data.profile.education %}<li><strong>{{ education.school }}:</strong> {{ education.description }} (<time>{% if education.start_year %}{{ education.start_year }}{% endif %} &dash; {% if education.end_year %}{{ education.end_year }}{% else %}present{% endif %}</time>)</li>{% endfor %}</ul>
        </article>
        <article id="recommendations" data-source="{{ page.url | absolute_url }}#recommendations" data-section="Recommendations">
            <h3>Recommendations</h3>{% for recommendation in site.data['profile']['recommendations'] %}
            <blockquote><p>{{ recommendation.text }}</p><footer>- {{ recommendation.name }}</footer></blockquote>{% endfor %}
        </article>    
    </section> 
    <section id="work-experience">
        <h2>Professional Experience</h2>{% for xp in site.employment reversed %}{% assign org = xp['organization'] %}{% capture xpSlug %}{{ xp.id | replace: '/', '-' | slice: 1, 1000 }}{% endcapture %}
        <article id="{{ xpSlug }}" data-section="{{ org['name'] }}" data-source="{{ page.url | absolute_url }}#{{ xpSlug }}">
            <header>
                <h3>{{ org['name'] }}</h3>
                <p>
                    <em>{{ org['type'] }}</em>
                    {% if xp.roles %}<span>{% for role in xp.roles %}{{ role }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% endif %}
                    <time>
                        <span>{{ xp.start_date | date: '%Y-%m'}}</span>
                        <span>{{ xp.end_date | date: '%Y-%m' }}</span>
                    </time>
                </p>
            </header>
            {% if forloop.first %}<p>{{ xp.excerpt | strip }}</p>{% endif %}
        </article>{% endfor %}
    </section>
    <template id="all-projects">
        <h2>All Projects</h2>{% for xp in site.projects reversed %}{% capture xpName %}{% if xp.name %}{{ xp.name }}{% else %}{{xp.title}}{% endif %}{% endcapture %}{% capture xpSlug %}{{ xp.id | replace: '/', '-' | slice: 1, 1000 }}{% endcapture %}
        <article id="{{ xpSlug }}" data-section="{{ xpName }}" data-source="{{ page.url | absolute_url }}#{{ xpSlug }}">
            <header>
                <h3>{{ xpName }}</h3>
                {% if xp.roles %}<p><strong class="hidden">Roles:</strong> {% for role in xp.roles %}{{ role }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>{% endif %}
                <p><time>{{ xp.start_date | date: '%Y-%m'}}&ndash;{{ xp.end_date | date: '%Y-%m' }}</time></p>
            </header>
            <p>{% if xp.summary %}{% for summary in xp.summary %}{{ summary | strip }}. {% endfor %}{% else %}{{ xp.excerpt | strip }}{% endif %}</p>
            {% if xp.skills %}<p><strong>Skills:</strong> {% for skill in xp.skills %}{{ skill }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>{% endif %}
        </article>{% endfor %}
    </template>
    <template id="interests">
        <h2>Interests</h2>
        <ul>{% for interest in site.data['profile']['interests'] %}<li>{{ interest.name }}</li>{% endfor %}</ul>
    </template>
    <template id="fun-facts">
        <h2>Fun Facts</h2>{% for fact in site.fun_facts %}
        <article{% if fact.lang %} data-language="{{fact.lang}}"{% endif %}>
            <h6>{{ fact.title }}</h6>
            {% if fact.description %}<p>{{ fact.description }}</p>{% else %}{{ fact.content }}{% endif %}
        </article>{% endfor %}
    </template>
    <template id="all-roles">
        <h2>Roles</h2> 
        <p>{{ site.data['semantic-model']['summary']['roles'] | join: ", " }}</p>
    </template>
    <template id="all-skills">
        <h2>Skills</h2> 
        <p>{{ site.data['semantic-model']['summary']['skills'] | join: ", " }}</p>
    </template>
    <template id="location">
        <h2>Location</h2>
        <p>Lidingö, Stockholm, Sweden</p> 
        <h2>Birth date</h2>
        <p><date>1969-06-23</date></p>
    </template>
    {% for zingerCategory in site.data['zingers'] %}{% capture zingerCategoryId %}{{ zingerCategory.type | downcase | replace: '&amp;', ' ' | replace: '   ', '-' | replace: ' ', '-' }}{% endcapture %}
    <template id="{{ zingerCategoryId }}">
        <h2>{{ zingerCategory.type }}</h2>
        <ul>{% for zinger in zingerCategory.zingers %}<li>{{ zinger }}</li>{% endfor %}</ul>
    </template>
    {% endfor %}
    <template id="taglines">
        <h2>Taglines</h2>
        <ul>{% for tagline in site.data['taglines'] %}<li>{{ tagline.tagline }}</li>{% endfor %}<li>
            <h3>Building the right software right</h3>
            <p> 
            I believe great software starts with the right conversations. While many developers focus on building software the right way — clean code, scalable architecture, elegant design — I go one step further: I make sure we're building the right software to begin with.

            That means diving deep into business needs, challenging assumptions, and translating complexity into clarity. I bridge the gap between stakeholders and systems, turning fuzzy ideas into functional products that deliver real value.

            Whether I’m prototyping a new feature, leading a team, or refining a user flow, I bring a mindset that’s equal parts strategic, technical, and creative.

            Let’s build something that matters — and build it well.
        </p></li></ul>
    </template>
    <template id="unique-selling-points">
        <h2>Unique Selling Points</h2>
        <ul>{% for usp in site.usp %}<li>{{ usp.excerpt | replace: '<p>', '' | replace: '</p>', '' | strip }}</li>{% endfor %}</ul>
    </template>
    <template id="clients" data-source="{{ page.url | absolute_url }}#clients">
        <h2>Clients</h2>
        <ul>{% for client in site.data.clients %}<li>{{ client.name }}</li>{% endfor %}</ul>
    </template>
</main>

<aside role="complementary" class="hidden">
    <template id="skills-by-category" class="hidden">
        <h2>Skills</h2><div>{% for skillCategory in site.data['profile']['categorizedSkills'] %}{% capture skillCategorySlug %}{{ skillCategory.name | replace: '/', '-' | replace: ' ', '-' | replace: '--', '' | downcase }}{% endcapture %}
        <article title="{{ skillCategory.name }} - {{ skillCategory.level }}" data-section="Skills by Category - {{ skillCategory.name }}" data-level="{{ skillCategory.level }}" data-source="{{ page.url | absolute_url }}#{{ skillCategorySlug }}">
            <h3>{{ skillCategory.name }}</h3>
            <ul>{% for skill in skillCategory.skills %}<li title="{{ skill }} - {{ skillCategory.level }}">{{ skill }}</li>{% endfor %}</ul>
        </article>{% endfor %}</div>
    </template>
    <section id="languages" data-source="{{ page.url | absolute_url }}#languages">
        <h2>Languages</h2>
        <ul>{% for language in profile['languages'] %}<li><strong>{{ language.name }}:</strong> {{ language.proficiency }}</li>{% endfor %}</ul>
    </section>
    <section id="certifications" data-source="{{ page.url | absolute_url }}#certifications">
        <h2>Certifications</h2>
        <ul>{% for cert in site.certs %}<li><strong>{{ cert.title }}:</strong> {% if cert.issuer %}{{ cert.issuer }} {% endif %}{% if cert.achievement_date %}(<date>{{ cert.achievement_date }}</date>){% endif %}</li>{% endfor %}</ul>
    </section>
    <section id="education" data-source="{{ page.url | absolute_url }}#education">
        <h2>Education</h2>
        <ul>{% for education in site.data.profile.education %}<li><strong>{{ education.school }}:</strong> {{ education.description }} (<time>{% if education.start_year %}{{ education.start_year }}{% endif %} &dash; {% if education.end_year %}{{ education.end_year }}{% else %}present{% endif %}</time>)</li>{% endfor %}</ul>
    </section>
    <section id="recommendations" data-source="{{ page.url | absolute_url }}#recommendations">
        <h2>Recommendations</h2>{% for recommendation in site.data['profile']['recommendations'] %}
        <blockquote><p>{{ recommendation.text }}</p><footer>- {{ recommendation.name }}</footer></blockquote>{% endfor %}
    </section>       
</aside>
