---
title: Henrik Becker Consulting
layout: default
---

<header class="image-bg-fluid-height">	
	<h1 class="brand-heading">Henrik Becker</h1>
    <p class="intro-text">Software Engineer</p>
	{% comment %}<img class="img-responsive img-center" src="http://placehold.it/200x200&text=Logo" alt="">{% endcomment %}
</header>

<section class="usp">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 style="display:none" class="section-heading">What do I do?</h2>
				{% comment %}
				<p class="lead section-lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
				<p class="section-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, suscipit, rerum quos facilis repellat architecto commodi officia atque nemo facere eum non illo voluptatem quae delectus odit vel itaque amet.</p>
				{% endcomment %}
				<p class="section-paragraph">
					{% for usp in site.usp  limit:3 %}
					<div class="col-md-4 usp">
						{% if usp.fontawesome %}
						<i class="{{ usp.fontawesome }} fa-4x"></i>
						{% else if usp.icon %}
						<img src="{{ usp.icon }}" />
						{% endif %}
						<h2>{{ usp.title }}</h2>
						<p>
							{{ usp.excerpt }}
							{% unless usp.no_link %}
							<a href="{{ usp.url }}">Read more...</a>
							{% endunless %}
						</p>
					</div>
					{% endfor %}
				</p>
			</div>
		</div>
	</div>
</section>

<aside class="image-bg-fixed-height"></aside>

<section class="recommendations">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="section-heading">What do people have to say about me?</h2>
				<p class="section-paragraph row">
					{% for recommendation in site.recommendations %}
					<blockquote class="col-md-6">
						{{ recommendation }}
						<small align="right">
						{% if recommendation.link %}<a href="{{ recommendation.link }}">{{ recommendation.name }}</a>
						{% else %}{{ recommendation.name }}
						{% endif %}
						</small>
					</blockquote>
					{% endfor %}
				</p>
			</div>
		</div>
	</div>
</section>

<section class="links">
	<div class="container">
		<div class="row">	
			<div class="col-lg-12">
				<h2 class="section-heading">Sound good so far?</h2>
				<p class="section-paragraph row">
					<div class="col-md-4 link">
						<a href="/cv">
							<i class="fa fa-file-alt fa-4x"></i>
							Read my full CV!
						</a>
					</div>
					<div class="col-md-4 link">
						<a href="#modal-contact-form" data-toggle="modal" data-backdrop="true">
							<i class="fa fa-envelope fa-4x"></i>
							Contact me!
						</a>
					</div>
					<div class="col-md-4 link">
						<a href="https://www.linkedin.com/in/prettygoodprogrammer">
							<i class="fab fa-linkedin fa-4x"></i>
							Look me up on LinkedIn!
						</a>
					</div>
				</p>
			</div>
		</div>
	</div>
</section>	

<aside class="image-bg-fixed-height">
	<h1>Thanks for visiting!</h1>
</aside>

