{% for xp in site.employment reversed %}
    {% assign xpStart = xp.start_date | date: '%Y' | plus: 0 %}
    {% if xpStart < 1997 %}
    {% assign org = xp['organization'] %}
    {% assign xpSlug = xp.id | replace: '/', '-' | slice: 1, 1000  | strip %}
<article id="{{ xpSlug }}" data-section="{{ org['name'] }}" data-source="{{ page.url | absolute_url }}#{{ xpSlug }}">
    <header>
        <h3><a href="{{ xp.url | relative_url }}">{{ org['name'] }}</a></h3>
        <p>
            <em>{{ org['type'] }}</em>
            {% if xp.roles %}<span>{% for role in xp.roles %}{{ role }}{% unless forloop.last %}, {% endunless %}{% endfor %}</span>{% endif %}
            <time>
                <span>{{ xp.start_date | date: '%Y-%m'}}</span>
                <span>{{ xp.end_date | date: '%Y-%m' }}</span>
            </time>
        </p>
    </header>
    {% if forloop.first %}<p>{{ xp.excerpt | strip }}</p>{% endif %}
</article>
{% endif %}
{% endfor %}       