---
cards:
  - front: Backend development
    back: I build clean, maintainable backend systems with clear boundaries, solid testability, and long‑term stability. Whether it’s APIs, data layers, or modernization work, I help teams move faster without sacrificing quality
  - front: System integration
    back: REST APIs, queues, and cloud services designed to communicate clearly and predictably. I help teams remove hidden complexity and make systems talk to each other without surprises.
  - front: Automation & DevOps
    back: CI/CD pipelines, scripting, and infrastructure that remove manual steps and make deployments boring — in the best way. I help teams ship faster and with more confidence     
  - front: Architecture guidance
    back: Pragmatic, long‑term decisions that keep systems understandable and scalable. I help teams choose the right patterns, avoid unnecessary complexity, and build software that ages well.
---

<section id="introduction" data-source="{{ page.url | absolute_url }}#introduction">
    <h2>Introduction</h2>
    <p>I’m Henrik, a senior backend consultant running a one-person tech company based in Stockholm. Since 1999,
        I’ve helped teams build robust backend solutions with a focus on automation, integration, and long-term
        maintainability.</p>
</section>
<section id="offer" data-source="{{ page.url | absolute_url }}#offer">
    <h2>What I offer</h2>
    <ul class="cards">
        {% for card in page.cards %}
        <li class="card{% if forloop.index > 3 %} print {% endif %}">
            <h3>{{ card.front }}</h3>
            <div class="card-body">{{ card.back }}</div>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="unique-selling-points" data-source="{{ page.url | absolute_url }}#unique-selling-points">
    <h2><a href="{{ '/unique-selling-points' | relative_url }}">How I work</a></h2>
    {% include usps.html %}
</section>
<section id="clients" data-source="{{ page.url | absolute_url }}#clients">
    <h2>Clients</h2>
    <ul class="client-logos">{% assign clients = site.projects | where: 'client', true %}{% for client in clients reversed %}{% if client.logo %}
        <li title="{{ client.name }}{% if client.teaser %}: {{ client.teaser }}{% endif %}">
            <a href="{{ client.url }}">
                <img class="client-logo" src="{{ client.logo | relative_url }}" alt="{{ client.name }} logo" />
            </a>
        </li>{% endif %}{% endfor %}
    </ul>
</section>
{% comment %}
<section id="contact" data-source="{{ page.url | absolute_url }}#contact">
    <h2>Let’s talk</h2>
    <form></form>
</section>
{% endcomment %}
