<header class="no-print">
  <div class="container">
    <div class="banner">
      <h1>
        <span>Hi, I'm Henrik Becker</span>
        <small>Senior fullstack .Net developer</small>
      </h1>
      <nav>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/prettygoodprogrammer/" title="Look me up on LinkedIn">
              <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/handiman" title="Check out how I code">
              <i class="fab fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" title="Contact me" data-toggle="modal" data-target="#contactForm">
              <i class="far fa-envelope"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="readMore">
    <a href="#content" class="scrollToContent">
      {{ include.linktitle }}<br />
      <i class="fas fa-arrow-down"></i>
    </a>
  </div>
</header>