<section>
    {% comment %}
    <article>{% assign content_parts = content | split: site.excerpt_separator %}
        <p>
            {% for part in content_parts %}
                {{ part }}
                {% break %}
            {% endfor %}
        </p>
    </article>
    {% endcomment %}
    {% assign profile = site.data.profile %}
    <div>
        {% comment %}
        <div>
            <h2 id="profile">Profile</h2>
            <div>{{ site.data.person.description }}</div>
        </div>
        {% endcomment %}
        <div>
            <h2 id="skills">Skills & Expertise</h2>
            <ul>{% for category in profile.featuredSkills %}
                <li>
                    <div>{{ category[0] }}</div>
                    <ul>{% for skill in category[1] %}
                        <li title="{{ skill.name }} - {{ skill.level }}" class="{{ skill.level | downcase }} skill">
                            <div>{{ skill.name }}</div>
                            <div>
                                <span class="fas fa-circle" aria-hidden="true"></span>
                                <span class="fas fa-circle" aria-hidden="true"></span>
                                <span class="fas fa-circle" aria-hidden="true"></span>
                                <span class="{% unless skill.level == 'Intermediate' %}fas{% else %}far{% endunless %} fa-circle" aria-hidden="true"></span>
                                <span class="{% if skill.level == 'Expert' %}fas{% else %}far{% endif %} fa-circle" aria-hidden="true"></span>
                            </div>
                        </li>{% endfor %}
                    </ul>
                </li>{% endfor %}
            </ul>
        </div>
        <div>
            <h2 id="languages">Languages</h2>
            <ul>{% for language in profile.languages %}
                <li>
                    <div>{{ language.name }}</div>
                    <div>{{ language.proficiency }}</div>
                </li>{% endfor %}
            </ul>
        </div>
    </div>{% assign profile = nil %}
</section>