<section id="education">
  <header>
    <h2>Education</h2>
  </header>
  <article>
    <ul>
    {% for education in site.data.profile.education reversed %}
      <li>
        <h4>{{education.school}}</h4>
        <div>
          {% if education.description %}{{ education.description }} | {% endif %}
          {% if education.start_year %}{{ education.start_year }}{% endif %} - {% if education.end_year %}{{ education.end_year }}{% else %}present{% endif %}
        </div>
      </li>
    {% endfor %}
    </ul>
  </article>
</section>