<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
{% include ld.html %}
{% include og.html %}
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ page.description }}" />
<meta name="author" content="{{ site.author.name }}" />
<meta name="msapplication-config" content="/tile.config" />
<meta name="theme-color" content="#333333">
<title>Henrik Becker - {% if page.title %}{{ page.title }}{% else %}Software Engineer{% endif %}</title>
<link href="{{ '/atom.xml' | absolute_url }}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
<link href="{{ '/rss.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="RSS Feed" />
<link href="{{ '/resume.json' | absolute_url }}" type="application/json" rel="alternate" title="JSON Resume" />
<link rel="manifest" href="/manifest.json">
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="canonical" href="{{ page.url | absolute_url }}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
<link href="/assets/style.css" rel="stylesheet" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% include favicon.html %}
