{% for profile in site.data.profile %}{% assign profile = site.data.profile[0] %}{% endfor %}
<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "{{ profile.name }}",
    "description": "{{ page.description }}",
    "nationality": "{{ profile.nationality }}",
    "jobTitle": "{{ profile.title }}",
	"birthDate": "{{ profile.birth_date }}",
	"url": "{{ profile.url }}",
	"sameAs": [ {% for network in profile.same_as %}"{{ network.url }}"{% unless forloop.last %},{% endunless %} {% endfor %}],
	"workLocation": "{{ profile.work_location }}",
    "worksFor": {
		"name": "{{ profile.works_for.name }}",
		"url": "{{ profile.works_for.url }}"
	}
}
</script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ site.author.name }}">
<title>Henrik Becker - {% if page.title %}{{ page.title }}{% else %}Software Engineer{% endif %}</title>
<!--<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{% comment %}
<link href="{{ '/atom.xml' | absolute_url }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
<link href="{{ '/rss.xml' | absolute_url }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
{% endcomment %}
<link href="{{ '/resume.json' | absolute_url }}" type="application/json" rel="alternate" title="JSON Resume">