<section class="work">
  <header>
    <h2 id="projects">Featured Projects</h2>
  </header>
  {% for featuredProject in site.data.profile.featuredProjects %}
    {% assign projectId = '/projects/' | append: featuredProject %}
    {% assign project = site.projects | where: "id", projectId | first %}
    {% if project %}
      <article itemscope itemtype="https://schema.org/Project">
        <header>
          <h4 itemprop="name">
            <div>{{ project.name }}</div>
            <small>
              <span>{{ project.roles | join: ", " }}</span>
              <time datetime="{{project.start_date}}">{{project.start_date}}</time>{% if project.end_date%}
              <time datetime="{{project.end_date}}">{{project.end_date}}</time>{% else %}<time datetime="{{site.time}}">present</time>{% endif %}
            </small>
          </h4>
        </header>
        <p>
          {% if project.description %}
            {{ project.description | join: ' ' }}
          {% else %}
            {{ project.excerpt }}
          {% endif %}
        </p>
        <footer></footer>

          {% comment %}
          <div>
            <span>{% if project.roles %}{{ project.roles | join: ", " }}{% else %}{{ project.role }}{% endif %}</span> | <time datetime="{{project.start_date}}">{{project.start_date}}</time> - {% if project.end_date%}<time datetime="{{project.end_date}}">{{project.end_date}}</time>{% else %}<time datetime="{{site.time}}">present</time>{% endif %}
          </div>
          {% if project.summary %}
          <ul>
            {% for summary in project.summary %}
              <li>{{ summary }}</li>
            {% endfor %}
          </ul>
          {% else %}
            <div>{{ project.excerpt }}</div>
          {% endif %}
          {% if project.skills %}
          <div>
            <div>Skills used:</div>
            {{ project.skills | join: ', ' }}
          </div>
          {% endif %}
        {% endcomment %}
      </article>
    {% endif %}
  {% endfor %}
</section>