{% include navigation.html %}
{% for profile in site.data.profile %}{% assign profile = site.data.profile[0] %}{% endfor %}

<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="intro-text no-print">Hi, I'm</p>
                    <h1 class="brand-heading">Henrik Becker</h1>
                    <p class="intro-text print">Software Engineer</p>
                    <p class="no-print">Let me tell you why you want to hire me</p>
                    <a href="#summary" class="btn btn-circle page-scroll"><i class="fa fa-angle-down animated"></i></a>
                </div>
            </div>
        </div>
    </div>
</header>

{% include cv/summary.html %}
{% include cv/skills.html %}
{% include cv/projects.html %}
{% include cv/languages.html %}
{% include cv/interests.html %}
{% include cv/employment.html %}
{% include cv/education.html %}
{% include contact.html %}

{% assign employer = nil %}
{% assign project = nil %}
{% assign profile = nil %}
