$black: #010101;
$darkGrey: #282828;
$lightGrey: #aeaeae;
$grey: #484848;
$white: #fafafa;
$lightGreen: #a7d663;
$mediumGreen: #75a434;
$darkGreen: #457500;
$fontSize: 14px;
$spacing: $fontSize;

* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  background-color: $black;
  color: $white;
  font-size: $fontSize;
  font-weight: 400;
}

a,
a:hover,
a:link,
a:active,
a:visited {
  color: $darkGreen;
}

a,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#ie-notice {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: lightyellow;
  color: #333;
  text-align: center; 
  padding: 1rem;
}

#error,
#loading {
  font-size: 2rem;
  width: 100%;
  min-height: 100vh;
  display: table;
  box-sizing: border-box;
  & > div {
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    display: table-cell;
  }
  a,
  a:hover,
  a:link,
  a:active,
  a:visited {
    color: $white;
  }
}

.noscript {
  background-color: $black;
  color: $white;
  & > article {
    width: 920px;
    margin: 3rem auto;
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
      margin-top: 2rem;
    }
    h3 {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
    ul {
      list-style: none;
      margin-right: 2rem;
    }
  }
}
