---
layout: page
title: CV
group: navigation
---
{% include JB/setup %}

<h1>Henrik Becker - Software Engineer</h1>
{% for profile in site.data.profile %}
<section id="summary">
	<h2>I am</h2>
	<ul class="list-unstyled">
		{% for line in profile.summary %}
			<li>{{ line }}</li>
		{% endfor %}
	</ul>
</section>
<section id="skills">
	<h2>Skills</h2>
	<ul class="list-unstyled list-inline">
		{% for skill in profile.skills %}
			<li>{{ skill }}</li>
		{% endfor %}
	</ul>
</section>
{% endfor %}

<section id="assignments">
	<h2>Assignments</h2>
	<div>
		<ul class="list-unstyled">
			{% for p in site.data.projectorder %}
			{% assign project = site.data.projects[p.name] %}
			{% assign start_date = (project.start_date | date: "%b %Y") %}
			{% assign end_date = (project.end_date | date: "%b %Y") %}
			<li>
				<h3>{{ project.title }}</h3>
				<div>{{ project.location }}</div>
				<div>{{ start_date }} {% if end_date %} {% if end_date != start_date %} - {{ end_date }} {% endif %} {% endif %}</div>
				<div>{{ project.description }}</div>
				{% if project.roles %}
				<div>Roles: {{ project.roles }}</div>
				{% endif %}
				{% if project.skills %}
				<div>Buzzwords used: {{ project.skills | array_to_sentence_string }}</div>
				{% endif %}
			</li>
			{% endfor %}
			{% assign project = nil %}
		</ul>
	</div>
</section>

<section id="employment">
	<h2>Employment History</h2>
	{% for e in site.data.employmentorder %}
	{% assign employer = site.data.employment[e.name] %}
	<div class="row">
		<div class="col-xs-2">
		{% assign start_date = (employer.start_date | date: "%Y-%m") %}
		{% assign end_date = (employer.end_date | date: "%Y-%m") %}
		{% if end_date %}
			{{ start_date }} {% if end_date != start_date %} - {{ end_date }}{% endif %}
		{% else %}
			{{ start_date }} - present
		{% endif %}
		</div>
		<div class="col-xs-8">
			{{ employer.title }} at {{ employer.organization.name }}
		</div>
	</div>
	{% endfor %}
	{% assign employer = nil %}
</section>