ul.cards {
    margin: 0;
    list-style: none;
    li {
        margin: 0;     
        list-style: none;
    }
    li:before {
        content: '';
        margin: 0;
    }
}

.cards {
  display: grid;
  gap: var(--space-4);
}

@media (min-width: 700px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

.card {
  list-style: none;
  position: relative;
  perspective: 1000px;
  display: flex; /* equal height across row */
}

.card-inner {
  flex: 1;
  height: 100%; /* ensures both sides match */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s cubic-bezier(.25,.8,.25,1);
}

.card-front, .card-back {
  backface-visibility: hidden;
  //background-color: color-mix(in srgb, var(--color-accent) 6%, transparent);
  background-color: var(--color-surface);
  border-radius: var(--space-1);
  border: 1px solid var(--color-border);
  border-top: 1px solid var(--color-accent);
  padding: var(--space-4);
  height: 100%;
}

/* FRONT overlays */
.card-front {
  position: absolute;
  inset: 0;
  transform: rotateY(0deg);
  z-index: 2;
  left: 0;
}

/* BACK defines height but is forced to match */
.card-back {
  position: relative;
  transform: rotateY(180deg);
  z-index: 1;
  min-height: 50px;
}

/* Flip states */
.card.flippable:hover .card-inner,
.card.flippable.flipped .card-inner {
  transform: rotateY(180deg);
}

.card {
  .more {
    position: absolute;
    right: var(--space-4);
    bottom: var(--space-4);
  }
  &:hover {
    .more {
      visibility: visible;      
    }
  }
}
