/* === Reset CSS === */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: Inter, sans-serif;
  font-size: 16px;
}

.hidden, .print { display: none; }

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

h1, h2 {
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: 500
}

h4, h5, h6, strong, b {
  font-weight: 600
}

h3 {
  font-size: 1rem;
}

p, aside, aside li, aside li a, article li a, header a {
    font-size: 0.9rem;
}

article ul, header ul {
  list-style-type: none;
  margin:0;
  padding: 0;
}

header ul a {
  color: inherit;
}

footer {
  font-size: .8rem;
}


.fab, .fas {
  margin-right: .5rem;
}

@media print { 
    cv-chat, nav, .no-print { display: none; }
    .print { display: ''; color: black; }
}

section header, article header {
    padding-left: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}