/* Colors */
:root {
    --footer-bgcolor: #333;
    --footer-color: whitesmoke;
    --footer-border-color: #777;
}

body>footer {
    background-color: var(--footer-bgcolor);
    color: var(--footer-color);
    a, a:link, a:active, a:visited, a:hover {
        color: var(--footer-color);
    }
    &>* {
        &>section {
            border-color: var(--footer-border-color);
            border-width: 0 0 1px 0;
            border-style: solid;
            @media (min-width: 768px) {
                border-style: none;
                /*border-width: 0 1px 0 0;
                &:first-child {
                    border-left-width: 1px;
                }*/
            }
        }
    }
    &>*:last-child {
        border-top: 1px solid var(--footer-border-color);
    }
}

/* Margins & Padding */ 
body>footer {
    margin-top: 3rem;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    a>i {
        margin-right: .5rem;
    }
    &>* {
        @media (min-width: 768px) {
            padding: 2rem 0 0 0;
        }
        &>section {
            padding: 2rem 0;
        }
    }
    &>*:first-child {
        &>section {
            @media (min-width: 768px) {
                margin-right: 4rem;
            }
        }
    }
    &>*:last-child {
        padding: 2rem;
        text-align: center;
    }
}

/* Responsive */
body>footer {
    &>*:first-child {
        @media (min-width: 768px) {
            display: flex;
            &>section {
                width: min-content;
                flex-grow: 1;
            }
        }
    }
}