@import "bootstrap-sprockets";
@import "bootstrap";
@import "full-width-pics";
@import "handiman/variables";
@import "handiman/navbar";
@import "handiman/forms";
@import "handiman/buttons";
@import "handiman/modal";
@import "handiman/headers";
@import "handiman/jumbotron";
@import "handiman/images";

html {
    width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
	/*'Montserrat', */
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:14px;
	color: $primary-foreground-color;
	background-color: $primary-background-color;
}

.error-page {
	font-size:15em;
	text-align:center;
	padding-top:50px;
}

article {
	margin-top:50px;
}

a, a:link, a:visited, a:active, a:hover, a:focus {
	color:$primary;
}

.recommendations {
	background-color:$recommendations;
}

.contact {
	background-color:$contact;
}

.links {
	background-color: $color-primary-3;
}

section.usp {
	background-color:$skills;
}

footer {
	text-align:center;
}

@media print {
	.no-print {
        display: none;
    }
}

@media screen {
    .print {
        display: none;
    }
}

.usp {
	p {
		a {
			display: block;
		}
	}
}

.usp, .links {
	.fa, .fab {
		display:block;
		margin-bottom: 15px;
	}
}

.usp, .links, .recommendations {
	div {
		text-align:center;
		img {
			height: 67px; /* We use fa-4x on the site so this gives the same size as the font-awesome icons. font-awesome icons are 14px by default. */
		}
	}
	a, a:link, a:active, a:visited, a:hover {
		text-decoration: none;
		color: $primary-foreground-color;
	}
}

div.usp, div.link { 
	font-size:1.2em;
	@media(max-width:992px) {
		padding-top: $bottom-margin-adjustment-for-small-screens;
		padding-bottom: $bottom-margin-adjustment-for-small-screens;
	}
}

blockquote {
	text-align:left;
	border:none;
	p {
		padding-left:20px;
	}
	p:before {
		content: '\201D'; /*\201D*/ /*'\f10d';*/
		display: block;
		font-size:90px;	
		/*font: normal normal normal 30px/1 FontAwesome;*/
		line-height: 1;
		position: absolute;
		left: 0;
		top: 0;
		opacity: .3;
	}
}