ul, ol {
    list-style-position: inside;
}
ul {
    list-style: none;
    li::before {
        content: '-';
        margin: 0 .5rem 0 0;
    }
}

body>header ul {
    margin: 0;
    li::before {
        content: '';
        margin: 0;
    }
}

ul.cards, ol.cards {
    list-style: none;
    margin: 0;
    li::before {
        content: '';
        margin: 0;
    }
}

.cards {
    @media (min-width: 768px) {
        display: flex;
    }
    &>li, &>div, &>article {
        @media (min-width: 768px) {
            flex: 1;
        }
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        margin: 1rem;
        padding: 2rem;
    }
}