body.page div[role='main'] {
	background-color: $color-primary-4;
	margin-top:90px;
	padding-bottom:20px;
}

.navbar {
	text-transform: uppercase;
}

.poll {
	h4 {
		margin-bottom:5px;
		padding-top:20px;
	}
	button {
		margin-top:20px;
		margin-bottom:20px;
	}
}

#usp {
	text-align:center;
	li {
		background-color:$color-primary-4;
		padding:20px;
		margin:10px;
	}
	img {
		width:100px;
		margin-bottom:20px;
	}
}