body.page div[role='main'] {
	background-color: $color-primary-4;
	margin-top:90px;
	padding-bottom:20px;
}

.poll {
	h4 {
		margin-bottom:5px;
		padding-top:20px;
	}
	button {
		margin-top:20px;
		margin-bottom:20px;
	}
}

