<section id="contact" class="no-print content-section">
    <div class="container">
		<div class="col-lg-8 col-lg-offset-2">
            <h2>Would you like to get in touch?</h2>
			<p>I'm in the process of moving to a new service provider so 
			my contact form doesn't work at the moment. Feel free to
			<a href="https://www.linkedin.com/in/prettygoodprogrammer">contact me on LinkedIn</a> though.</p>
			{%comment%}
			<form class="contact-form" >
				<input type="hidden" name="ip" />
				<input type="hidden" name="subject" value="Contact Form" />
				<div class="form-group">
					<input class="form-control" name="from-name" placeholder="Your name" />
				</div>
				<div class="form-group">
					<input class="form-control" name="from" placeholder="Your e-mail address" />
				</div>
				<div class="form-group">
					<textarea class="form-control" name="message" placeholder="Message"></textarea>
				</div>
				<div class="row">
					<div class="col-md-4"><button class="btn btn-default btn-lg" type="submit">Send</button></div>
					<div class="col-md-8 text-right status"></div>
				</div>
			</form>
			{%endcomment%}
		</div>
    </div>
</section>