<section id="education" class="content-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2><span class="no-print">I went to school</span><span class="print">Education</span></h2>
            <div class="row">
                {% for education in side.data.profile.education %}
                <div class="col-md-2">{{ education.start_year }} - {{ education.end_year }}</div>
                <div class="col-md-10">{{ education.school }} ({{ education.description }})</div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<div id="scroll-to-recommendations">
    <div class="container section-scroll">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="#recommendations" class="btn page-scroll"><i class="fa fa-angle-down animated"></i></a>
        </div>
    </div>
</div>