<section id="employment" class="content-section" data-next="#education">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2><span class="no-print">I've been around</span><span class="print">Employment History</span></h2>
            <ul class="list-unstyled">
                {% for employer in site.employment reversed %}
				{% assign start_date = (employer.start_date | date: "%Y-%m") %}
				{% assign end_date = (employer.end_date | date: "%Y-%m") %}
                <li class="row">
                    <div class="col-md-3">
                        {% if end_date %}
							{{ start_date }} {% if end_date != start_date %}- {{ end_date }}{% endif %}
                        {% else %}
							{{ start_date }} - present
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        {{ employer.title }} at {{ employer.organization.name }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>{% comment %}<div id="scroll-to-education">
    <div class="container section-scroll">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="#education" class="btn page-scroll"><i class="fa fa-angle-down animated"></i></a>
        </div>
    </div>
</div>{% endcomment %}