<section id="interests" class="content-section" data-next="#employment">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2><span class="no-print">I enjoy</span><span class="print">Hobbies &amp; Interests</span></h2>
            <ul class="no-print list-unstyled">
                {% for hobby in site.data.profile.interests %}
                    <li>
					{% if hobby.url %}<a href="{{ hobby.url }}">{% endif %}
					{{ hobby.name }}
                    {% if hobby.url %}</a>{% endif %}
					</li>
                {% endfor %}
            </ul>
            <div class="print">{% for hobby in side.data.profile.interests %}{{ hobby.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}
            </div>
        </div>  
    </div>
</section>{% comment %}<div id="scroll-to-employment">
    <div class="container section-scroll">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="#employment" class="btn page-scroll"><i class="fa fa-angle-down animated"></i></a>
        </div>
    </div>
</div>{% endcomment %}