{% assign next = "#summary" %}
<header class="intro" data-next="{{ next }}">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="intro-text no-print">Hi, I'm</p>
                    <h1 class="brand-heading">Henrik Becker</h1>
                    <p class="intro-text">Software Engineer</p>
                    <p class="intro-text no-print">You'll like me</p>
                    <i class="fa fa-angle-down animated"></i>
                </div>
            </div>
        </div>
    </div>
</header>