<section id="languages" class="content-section">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2><span class="no-print">I can communicate</span><span class="print">Languages</span></h2>
            <div class="row">
                {% for language in profile.languages %}
                <div class="col-sm-4">
                    <div class="h3">{{ language.name }}</div>
                    <div>{{ language.proficiency }}</div>
                </div>{% endfor %}
            </div>
        </div>
    </div>
</section>
<div id="scroll-to-interests">
    <div class="container section-scroll">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="#interests" class="btn page-scroll"><i class="fa fa-angle-down animated"></i></a>
        </div>
    </div>
</div>
