<section id="recommendations" class="content-section no-print" data-next="#contact">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>I Deliver</h2>
            {% for recommendation in site.recommendations %}
            <blockquote class="col-lg-12">
				{{ recommendation }}<small align="right"><a href="{{ recommendation.link }}">{{ recommendation.name }}</a></small>
            </blockquote>{% endfor %}
        </div>
    </div>
</section>{% comment %}
<div id="scroll-to-contact">
    <div class="container section-scroll">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="#contact" class="btn page-scroll"><i class="fa fa-angle-down animated"></i></a>
        </div>
    </div>
</div>{% endcomment %}