{% assign profile = site.data.profile %}
<section id="skills" class="content-section" data-next="#projects">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>
                <span class="no-print">I know things</span><span class="print">Technological Summary</span>
            </h2>
            <dl>
                <dt>Languages:</dt>
                <dd>{{ profile.skills.languages | join: ', ' }}</dd>
            </dl>
            <dl>
                <dt>Frameworks:</dt>
                <dd>{{ profile.skills.frameworks | join: ', ' }}</dd>
            </dl>
            <dl>
                <dt>Certifications:</dt>
                <dd>{{ profile.certifications | map: 'to_liquid' | map: 'name' | join: ', ' }}</dd>
            </dl>
            <dl>
                <dt>Methods:</dt>
                <dd>{{ profile.skills.methods | join: ', ' }}</dd>
            </dl>
            <dl>
                <dt>Tools:</dt>
                <dd>{{ profile.skills.tools | join: ', ' }}</dd>
            </dl>
        </div>
    </div>
</section>{% comment %}<div id="scroll-to-projects">
    <div class="container section-scroll">
        <div class="col-lg-8 col-lg-offset-2">
            <a href="#projects" class="btn page-scroll"><i class="fa fa-angle-down animated"></i></a>
        </div>
    </div>
</div>{% endcomment %}
