.btn {
    text-transform: uppercase;
    font-family: 'Montserrat','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    /*border-radius: 0;*/
}

.btn-default {
    border: 1px solid $primary;
    color: $primary;
	/* background-color:$recommendations; */
    background-color: transparent;
	&:hover, &:focus {
        border: 1px solid $primary;
        outline: none;
		color: $primary;
		background-color:$green;
	}
}

.btn-secondary {
	background-color:$projects;
	&:hover, &:focus {
		color: $primary;
		background-color:$projects;
	}
}

.poll {
	button {
		margin-top:20px;
		margin-bottom:20px;
	}
}