body {
	color: $primary-foreground-color;
	background-color: $primary-background-color;
}

.jumbotron {
	background-color:$green;
}

a, a:link, a:visited, a:active, a:hover, a:focus {
	color:$primary;
}


/*.usp {
	p {
		a {
			color: $primary;
		}
	}
}*/

.recommendations {
	background-color:$recommendations;
}

.contact {
	background-color:$contact;
}

.links {
	background-color: $color-primary-3;
}

section.usp {
	background-color:$skills;
}