header {
	.brand-heading {
		font-size: 40px !important;
	}

	.intro-text {
		font-size: 18px !important; 
	}
	
	h1:first-of-type {
		font-size:4em;
		padding-top:40px;
		padding-bottom:70px;
	}

	@media(min-width:768px) {
		.brand-heading {
			font-size: 100px !important;
		}

		.intro-text {
			font-size: 26px !important;
		}
	}
}

aside:last-of-type {
	h1 {
		font-size:4em;
		margin-top:0px;
		padding-top:190px;
		padding-bottom:50px;
	}
}
	
.poll {
	h4 {
		margin-bottom:5px;
		padding-top:20px;
	}
}

section {
	h1, h2 {
		text-align:center;	
	}
}

article {
	h2 {
		margin-top:50px;
	}
}