
html {
    width: 100%;
    height: 100%;
}

body {
	width: 100%;
	height: 100%;
}

header {

	h1:first-of-type {
		padding-top:40px;
		padding-bottom:70px;
	}
}

aside:last-of-type {
	h1 {
		margin-top:0px;
		padding-top:190px;
		padding-bottom:50px;
	}
}

.jumbotron {
	@media screen {
		padding-top:50px;
		padding-bottom:20px;
	}
	margin-bottom:0;
	background-color:$green;
}
	
.poll {
	h4 {
		margin-bottom:5px;
		padding-top:20px;
	}
}

section {
	h1, h2 {
		text-align:center;	
	}
}

article {
	margin-top:50px;
	h2 {
		margin-top:50px;
	}
}

footer {
	text-align:center;
}

.error-page {
	text-align:center;
	padding-top:50px;
}


.usp {
	p {
		a {
			display: block;
		}
	}
}

.usp, .links {
	.fa, .fab {
		display:block;
		margin-bottom: 15px;
	}
}

textarea[name='message'] {
	height:200px;
}



@media print {
	.no-print {
        display: none;
    }
}

@media screen {
    .print {
        display: none;
    }
}

div.usp, div.link { 
	@media(max-width:992px) {
		padding-top: $bottom-margin-adjustment-for-small-screens;
		padding-bottom: $bottom-margin-adjustment-for-small-screens;
	}
}



.contact-form.section-paragraph {
	@media(min-width:992px) {
		padding-left:124px;
		padding-right:124px;
	}
	.form-control {
		margin-bottom: $bottom-margin-adjustment-for-small-screens;
	}
}