.modal-header {
	div.col-md-1 {
		padding-top:7px;
	}
}
.modal-content {
	background-color:$projects;
	
}
.modal-dialog {
	color: $primary;
	button {
		color: $primary;
		span {
			color: $primary;
		}
	}
}
.modal-footer {
	.status {
		padding-top:12px;
	}
}
