---
---
$bilby: 'https://en.wikipedia.org/wiki/Macrotis';
$white: #EFEFEF;
$black: #222222;
$green: #a7d663;
$text-color: $white;
$back-color: $black;
$link-color: $green;
$font-size: 16px;

html, body {
  width: 100%;
  height: 100%;
  background-color: $back-color;
}

* {
  font-size: $font-size;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: $text-color !important;
}

.timeline {
  display: table;
  section {
    display: table-row;
    //grid-template-columns: repeat(minmax(100px, 1fr), auto-fit);
    header {
      display: table-cell;
      padding-right: 1rem;
      text-align: right;
    }
    .content {
      display: table-cell;
      border-left: 1px solid $green;
      padding-left: 1rem;
      div:last-child {
        padding-bottom: .5rem;
      }
    }
    /*.content::before {
      content: '';
      position: relative;
      width: 16px;
      height: 16px;
      top: calc(50% - 8px);
      right: -8px;
      background: #ffffff;
      border: 2px solid #006E51;
      border-radius: 16px;
      z-index: 1;
    }*/
  }
}

@media print {
  .noprint {
    display: none;
  }
  a {
    text-decoration: none;
    color: $text-color;
  }
}

th, td {
  text-align: left;
  vertical-align: top;
}