---
---
$black: #010101;
$darkGrey: #282828;
$lightGrey: #AEAEAE;
$grey: #484848;
$white: #FAFAFA;
$lightGreen: #A7D663;
$mediumGreen: #75A434;
$darkGreen: #457500;

@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap";

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%
}

body {
  background-color: $black;
}

#loading *, #error * {
  color: $white;
}

#loading,
#error {
  width: 100%;
  height: 100vh;
  display: table;
}

#loading div,
#error div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

@media screen {
  .print {
    display: none;
  }
}

@media print {
  .no-print {
    display: none;
  }
}
