---
---
@import "bootstrap-sprockets";
@import "bootstrap";

$primary-background-color: #222;
$primary-foreground-color: #FFF;
$secondary-background-color: #444;

.usp, .recommendations {
	li {
		img {
			width: 64px;
		}
	}
	a, a:link, a:active, a:visited, a:hover {
		text-decoration: none;
		color: $primary-foreground-color;
	}
}

.jumbotron {
	@media screen {
		padding-top:50px;
		padding-bottom:20px;
	}
	background-color:$secondary-background-color;
}

body {
	background-color:$primary-background-color;
	color:$primary-foreground-color;
}