---
---
@import "bootstrap-sprockets";
@import "bootstrap";

$primary-background-color: #222;
$primary-foreground-color: #FFF;
$secondary-background-color: #444;

.usp, .recommendations {
	li {
		img {
			width: 64px;
		}
	}
	a, a:link, a:active, a:visited, a:hover {
		text-decoration: none;
		color: $primary-foreground-color;
	}
}

.jumbotron {
	@media screen {
		padding-top:50px;
		padding-bottom:20px;
	}
	background-color:$secondary-background-color;
}

body {
	background-color:$primary-background-color;
	color:$primary-foreground-color;
}

blockquote {
	border:none;
}
blockquote:before {
	content: "\f10d";
    display: block;
    font: normal normal normal 30px/1 FontAwesome;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .3;
}