---
---
@charset "UTF-8";
@import "tokens";
@import "typography";
@import "layout-default";
@import "nav";
@import "forms";
@import "cards";
@import "competency-summary";
@import "agreement";
@import "swatch";
@import "easter-egg";
@import "print";


/* Baseline grid overlay (optional but amazing) */
body.debug::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255,0,0,0.15) 1px,
    transparent 1px
  );
  background-size: 100% 4px;
  z-index: 9999;
}

.hidden {
    display: none;
}

address {
    font-style: normal;
    &>*:last-child{
        margin-top: var(--space-2);
    }
}

.theme-toggle {
    position: fixed;
    cursor: pointer;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: transparent;
    color: transparent;
    width: 20px;
    height: 20px;
    margin: 0;
    border: none;
}

.flip-text {
  unicode-bidi: bidi-override;
  direction: rtl;
}