---
---
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import "tokens";
@import "typography";
@import "layout-default";
@import "nav";
@import "cards";
@import "swatch";
@import "print";


/* Baseline grid overlay (optional but amazing) */
body.debug::before {
  content: "";
  position: fixed;
  inset: 0;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(255,0,0,0.15) 1px,
    transparent 1px
  );
  background-size: 100% 4px;
  z-index: 9999;
}

.hidden {
    display: none;
}

address {
    font-style: normal;
    &>*:last-child{
        margin-top: var(--space-2);
        &::before {
            content: 'VAT: '
        }
    }
}

.theme-toggle {
    position: fixed;
    cursor: pointer;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: transparent;
    color: transparent;
    width: 20px;
    height: 20px;
    margin: 0;
    border: none;
}