---
---
:root {
  --eucalyptus-fog: #C5D1C6;
  --misty-olive: #BFCAB3;
  --dusty-fern:#A9B9A2;
  --pale-moss:#E3EdE5;

  --document-color: #333;
  --document-bgcolor: whitesmoke;
  --link-color: forestgreen;
  --link-color-hover: green;
}

/* === Reset CSS === */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-color: var(--eucalyptus-fog);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--document-bgcolor);
    color: var(--document-color);
    a {
        color: var(--link-color)
    }
    a:hover {
        color: var(--link-color-hover);
    }
}

body>header, 
body>main, 
body>footer, 
body>aside {
    padding: 0 2rem;
    margin: 0;
    &>* {
        @media (min-width: 1200px) {
            width: 1100px;
            margin: 0 auto;
        }
    }
}

.hidden, .print {
    display: none;
}

@media print { 
    cv-chat, nav, .no-print { display: none; }
    .print { display: ''; color: black; }
}


section, article, article>header {
    &>p, &>ul, &>ol, &>blockquote {
        padding: 0;
        margin: 1rem;
        @media (min-width: 768px) {
        }
    }
}

main>section, aside>section {
    margin-top: 3rem;
    &:first-child {
        margin-top: 1rem;
    }
    &:last-child {
        margin-bottom: 2rem;
    }
}


@import "typography";
@import "lists";
@import "header";
@import "footer";