---
---
@import "handiman/_colors";

@page {
	size: A4 portrait;
}

* {
	font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
}

a, a:link, a:visited, a:hover, a:active {
	color: $green;
	text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

header, h1, h2, h3, h4, h5, h6, footer {
	color: $green;
}

header, main, article, footer {
	margin-left:10vw;
	margin-right:10vw;
}

header, main {
	height: 100vh;
}

header {
	div {
		position:absolute;
		bottom: 10%;
		h1 {
			padding-left: 10px;
			padding-bottom: 1px;
			border-left:2px solid;
			width:auto;
		}
		small {
			border-top: 1px solid;
			padding-top: 5px;
		}
	}
}
main {
	section {
		margin:0;
		padding:0;
		vertical-align: top;
		display: inline-block;
	}
	section:first-child {
		width: 65%;
	}
	section:last-child {
		width: 33%;
	}
}
article {
	section:last-child {
		page-break-before: always;
	}
}



