---
layout: null
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
{% assign client = page.parties.client %}
{% assign consultant = page.parties.consultant %}
{% assign henrik = site.data['person'] %}
{% assign date_format = "%-d %B %Y" %}
<head>
    <title>{{ page.title }} | {{ client.name }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo title=false %}
    <link rel="apple-touch-icon" href="{{ '/favicon.png' | absolute_url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | absolute_url }}" />
</head>
<body class="agreement">
    <main>
        <article>
            <header>
                <h1>Consultancy Agreement</h1>
                <div>
                    between
                    <em>{{ client.name }}</em>
                    and
                    <em>{{ consultant.name }}</em>
                    {{ page.valid_from | date: date_format }}
                </div>
            </header>
            <section>
                <h2>Agreement</h2>
                <p>
                    This consultancy agreement (the “Agreement”) is made as of {{ page.valid_from | date: date_format }} between 
                    <strong>{{ client.name }}</strong>, reg. no. {{ client.orgNo }}, <span class="address">{{ client.address }}</span> (the “Client”); and 
                    <strong>{{ consultant.name }}</strong>, reg.no. {{ consultant.orgNo }}, <span class="address">{{ consultant.address }}</span> (the “Consultant”).
                </p>
                <p>
                    The Consultant agrees in accordance with the terms and conditions of this Agreement to 
                    perform consultancy work for the Client, subject to the Client’s instructions. 
                    The services of the Consultant are hereinafter referred to as the "Services".
                </p>
                <!--p>
                    This document constitutes the entire agreement between the parties hereto and 
                    supersedes all prior negotiations, representations or agreements related the the Agreement, either written or oral.
                    No amendments to the Agreement shall be effective unless evidenced in writing and signed by the parties to the Agreement.
                </p-->                    
            <!--</section>
            <section>
                <h2>Project Details</h2>-->
                <table>
                    <tbody>
                        <tr>
                            <th>Scope</th>
                            <td>
                                <div>{{ page.scope.summary }}</div>{% for project_detail in page.scope.details %}
                                <div>{{ project_detail }}</div>{% endfor %}
                            </td>
                        </tr>
                        {% if page.scope.period %}
                        <tr>
                            <th>Period</th>
                            <td>{{ page.scope.period }}</td>
                        </tr>
                        {% endif %}
                        <!--tr>
                            <th>Agreed rate</th>
                            <td>For each {{ page.fees.rate_type }} performing the Services under this Agreement, the Consultant shall be entitled to a fee of {{ page.fees.rate }} (not including VAT), to be payable monthly in accordance with the terms of <strong style="color:red">TODO clause X.X</strong>.</td>
                        </tr-->
                        <!--tr>
                            <th>Standard hours</th>
                            <td>{{ page.scope.standard_hours }}</td>
                        </tr-->
                        <tr>
                            <th>Start date</th>
                            <td>{{ page.scope.start_date | date: date_format }}</td>
                        </tr>
                        <tr>
                            <th>End date</th>
                            <td>{{ page.scope.end_date | date: date_format }}</td>
                        </tr>
                        {% if page.scope.site %}
                        <tr>
                            <th>Site</th>
                            <td>{{ page.scope.site }}</td>
                        </tr>
                        {% endif %}
                        <!--tr>
                            <th>Notice Period</th>
                            <td>This Agreement may be terminated by either Party by giving {{ page.termination.notice_period }} written notice to the other Party.</td>
                        </tr-->
                    </tbody>
                </table>
            </section>
            <section>
                <h2>Compensation</h2>
                <h3>General</h3>
                <p>The compensation for the Services provided under the Agreement shall be {{ page.fees.rate }} per {{ page.fees.rate_type }} excluding VAT. </p>
                <p>The Consultant shall, on request by the Client, submit a detailed specification of the work provided as part of the Services.</p>
                <h3>Expenses and allowances</h3>
                <p>
                    The Consultant shall be reimbursed for all reasonable, approved expenses (travel costs, hotel charges and other relevant expenses), 
                    provided that they are in accordance with the instructions issued by the Client and that they have been incurred when performing the Services. 
                </p>
                <h3>Invoicing and Payment</h3>
                <p>
                    Invoicing will be made {{ page.fees.invoicing }}. The Consultant shall prepare and issue their invoice at the end of each month and 
                    send it to {{ client.name }} no earlier than the 25th of the month. The invoice shall include the Client’s VAT number and 
                    that <strong>reverse charges</strong> shall apply.
                </p>
                <p>{{ client.name }} shall make payments against correct invoice with payment terms {{ page.fees.payment_terms }}.</p>
                <h3>Tax</h3>
                <p>
                    The Consultant shall be responsible for obtaining and maintaining at their expense coverage 
                    under the worker’s compensation regime(s) applicable to the Consultant for the services to be performed hereunder.
                </p>
                <p>
                    Unless it determines, in its sole discretion, that applicable legislation requires it to withhold at source 
                    from compensation payable hereunder and to remit to appropriate authorities any income tax or premiums for any employment 
                    insurance or other legislated social benefit regime payments applicable to the Consultant for the services to be 
                    performed hereunder, the Client shall not make any such deductions from compensation payable hereunder.
                    For greater certainty, it shall otherwise be the responsibility of the Consultant to be aware of the 
                    tax laws of the Consultant’s country of domicile or such other countries to which the Consultant may have 
                    personal tax liabilities and to pay any taxes deemed necessary by the authorities of those countries.
                </p>
                <p>
                    The Consultant covenants and agrees to make all income tax, employment insurance premium or other legislated 
                    social benefit regime payments and any other statutory remittances required under any applicable legislation 
                    in connection with performance of the services and payment of the compensation and the disbursement expenses as provided in 
                    this Agreement, and the Consultant agrees to indemnify and save the Client harmless from and against: 
                </p>
                <ol type="a">
                    <li>
                        any and all amounts which are assessed against Client for contributions or withholdings
                        under any applicable taxation or other legislation in connection with performance of the Services 
                        or the compensation and the disbursement expenses paid by the Client or by one of its affiliates 
                        on behalf of the Client under the terms of this Agreement; and
                    </li>
                    <li>
                        any and all such payments and any fines arising from non-payment or failure to withhold.
                    </li>
                </ol>
            </section>

            <section>
                <h2>Liability</h2>
                <p>{{ page.liability.standard }}</p>
                {% for detail in page.liability.details %}
                <p>{{ detail }}</p>
                {% endfor %}
                {% if page.liability.limitation %}
                <p>{{ page.liability.limitation }}</p>
                {% endif %}
            </section>

            <section>
                <h2>Confidentiality</h2>
                <p>{{ page.confidentiality.clause }}</p>
                {% for detail in page.confidentiality.details %}
                <p>{{ detail }}</p>
                {% endfor %}
            </section>

            <section>
                <h2>Intellectual property rights</h2>
                <p>{{ page.ip_rights.ownership }}</p>
                <p>{{ page.ip_rights.license }}</p>
            </section>

            <section>
                <h2>Term and termination</h2>
                <p>
                    This Agreement shall commence on {{ page.scope.start_date}} and shall remain in force for a period of {{ page.scope.period }}. 
                    Unless the Agreement has been terminated by the Client, in writing, {{ page.termination.notice_period }} prior to the end of the said {{ page.scope.period }} period, 
                    the Agreement shall automatically be renewed for successive period of one {{ page.scope.period }}, with a one {{ page.termination.notice_period }} written notice period (the “Term”). 
                </p>
                <p>
                    This Agreement replaces any previous agreement between the parties with respect to the subject matter hereof. 
                </p>
                <p>
                    Each party has the right to terminate this Agreement with immediate effect if the other party fails to fulfill, 
                    or breaches, its obligations under the Agreement and if capable of remedy, the breach is not remedied 
                    within {{ page.termination.notice_period }} after written notice from the non-breaching Party. 
                </p>
                <p>The Client is also entitled to terminate the Agreement with immediate effect and claim damages from the Consultant if the Consultant:</p>
                <ol type="a">
                    <li>is at fault and this affects {{ client.name }};</li>
                    <li>is suspected of any crime of relevance for the provided Services;</li>
                    <li>is negligent or incompetent in the performance of the Services; or</li>
                    <li>is incapable of performing the Services, in whole or in part, in such a manner as is reasonably intended or specified in the Agreement.</li>
                </ol>
                <p>
                    The termination or expiry of the Agreement, irrespective of the reason thereto, shall not affect the validation of any provision in this 
                    Agreement that explicitly, or implicitly, is intended to continue to apply after the expiry, or termination, of the Agreement.  
                </p>
            </section>

            <section>
                <h2>Insurance</h2>
                <p>
                    The Consultant shall at its own expense, obtain and maintain adequate insurance coverage for the Services, which shall include liability insurance. 
                    The insurance shall cover the both the Consultant and the Services and be valid for the Term. 
                    The Consultant shall, if requested by the Client, provide proof of the adequate insurance coverage.
                </p>
            </section>

            <section>
                <h2>Legal position of the Consultant</h2>
                <p>
                    The Consultant and employees of the Consultant that carry out the Services are independent in relation to the Client, 
                    and no employment relation shall arise between such employees of the Consultant, and the Client, as a result of this Agreement. 
                    The Consultant may not represent or bind the Client in relation to any third party.
                </p>
            </section>

            <section>
                <h2>Governing law</h2>
                <p>{{ page.governing_law.law }}</p>
                <p>{{ page.governing_law.disputes }}</p>
            </section>

            <footer class="signatures">
                <p>
                    By signing here, the Parties agree to the terms and conditions stated in this Agreement. 
                    This Agreement has been executed in two (2) identical copies of which the Parties have received one copy each.
                </p>
                <div>
                    <div>
                        <h4>Signed on behalf of {{ client.name }}</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>Signature</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>{{ client.contact.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h4>Signed on behalf of {{ consultant.name }}</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>Signature</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <td>{{ henrik.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </footer>
        </article>
    </main>
    <button class="theme-toggle" title="Toggle dark mode">.</button>
    <script src="{{ '/assets/main.js' | absolute_url }}"></script>
</body>
</html>