---
layout: null
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="sv">
{% assign client = page.parties.client %}
{% assign consultant = page.parties.consultant %}
{% assign henrik = site.data['person'] %}
{% assign month = page.valid_from | date: "%-m" | plus: 0 %}
{% capture month_name %}
    {% case month %}
        {% when 1 %}januari
        {% when 2 %}februari
        {% when 3 %}mars
        {% when 4 %}april
        {% when 5 %}maj
        {% when 6 %}juni
        {% when 7 %}juli
        {% when 8 %}augusti
        {% when 9 %}september
        {% when 10 %}oktober
        {% when 11 %}november
        {% when 12 %}december
    {% endcase %}
{% endcapture %}
{% capture date %}{{ page.valid_from | date: "%-d" }} {{ month_name }} {{ page.valid_from | date: "%Y" }}{% endcapture %}
<head>
    <title>{{ page.title }} | {{ client.name }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo title=false %}
    <link rel="apple-touch-icon" href="{{ '/favicon.png' | absolute_url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | absolute_url }}" />
</head>
<body class="agreement">
    <main>
        <article>
            <header>
                <h1>Konsultavtal</h1>
                mellan<br/>
                <strong>{{ client.name }}</strong><br/>
                och <br/>
                <strong>{{consultant.name }}</strong><br/>
                {{ date | strip }}
            </header>
            <section class="parties">
                <h2>Avtalsparter</h2>
                <div>
                    <div>
                        <h4>{{ client.name }}</h4> 
                        <address>{{ client.address | strip }}</address> 
                        <h5>Organisationsnummer</h5>
                        <div>{{ client.orgNo }}</div>
                        <h5>Kontaktperson</h5>
                        <div>{{ client.contact.name }}</div>
                        <div><a href="tel:{{ client.contact.telephone | replace: ' ', '' }}">{{ client.contact.telephone }}</a></div> 
                        <div><a href="mailto:{{ client.contact.email }}">{{ client.contact.email }}</a></div>
                    </div>
                    <div>
                        <h4>{{ consultant.name }}</h4>
                        <address>{{ consultant.address | strip }}</address>
                        <h5>Organisationsnummer</h5>
                        <div>{{ consultant.orgNo }}</div>                            
                        <h5>Kontaktperson</h5>
                        <div>{{ henrik.name }}</div>
                        <div><a href="tel:{{ consultant.telephone | replace: ' ', '' }}">{{ consultant.telephone }}</a></div>
                        <div><a href="mailto:{{ consultant.email }}">{{ consultant.email }}</a></div>
                    </div>
                </div>
                <p>Mellan {{ client.name }} (<em>”Beställaren”</em>) och {{ consultant.name }} (<em>”Konsulten”</em>) har idag den {{ date | strip }} träffats följande avtal.</p>
            </section>

            <section>
                <h2>Uppdragets art och omfattning</h2>
                {% for summary in page.scope.summary %}
                <p>{{ summary }}</p>
                {% endfor %}
                {% for key in page.scope.details %}
                    <h3>{{ key[0] }}</h3>
                    {% for paragraph in key[1] %}
                    <p>{{ paragraph }}</p>
                    {% endfor %}
                {% endfor %}
            </section>

            <section>
                <h2>Ersättning</h2>
                <p>
                    Ersättningen som Beställaren betalar till Konsulten för genomförande av Uppdraget utgår med {{ page.fees.rate }} {{ page.fees.currency }}/{{ page.fees.rate_type }}. 
                    Konsulten har rätt att justera avtalat timarvode årligen i {{ month_name }} med start den 1 {{ month_name }} {{ page.valid_from | date: "%Y" | plus: 1 }} och med {{ page.fees.rate_increase }}.
                </p>
                <h3>Arbetstid och övertid</h3>
                <p>
                    Konsulten utför Uppdraget på heltid motsvarande högst {{ page.scope.standard_hours }}.
                    Övertid får endast utföras efter skriftligt godkännande från Beställaren och ersätts enligt överenskommelse.
                </p>
                {% for key in page.fees.details %}
                <h3>{{ key[0] }}</h3>
                {% for paragraph in key[1] %}
                <p>{{ paragraph }}</p>
                {% endfor %}
                {% endfor %}
            </section>

            <section>
                <h2>Betalning</h2>
                {% for key in page.invoicing %}
                <h3>{{ key[0] }}</h3>
                {% for paragraph in key[1] %}
                <p>{{ paragraph }}</p>
                {% endfor %}
                {% endfor %}
            </section>

            <section>
                <h2>Försäkring och F-skatt</h2>
                {% for key in page.insurance_and_tax %}
                <h3>{{ key[0] }}</h3>
                {% for paragraph in key[1] %}
                <p>{{ paragraph }}</p>
                {% endfor %}
                {% endfor %}
            </section>

            <section>
                <h2>Äganderätt och nyttjanderätt</h2>
                {% for paragraph in page.interpersonal_rights %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </section>

            <section>
                <h2>Ansvar</h2>
                <h3>Beställarens ansvar</h3>
                <figure>
                    <figcaption>Beställarens ansvar består i att:</figcaption>
                    <ol type="a">
                        {% for liability in page.liability.client %}
                        <li>{{ liability }}</li>
                        {% endfor %}
                    </ol>
                </figure>
                <h3>Konsultens ansvar</h3>
                <figure>
                    <figcaption>Konsultens ansvar består i att:</figcaption>
                    <ol type="a">
                        {% for liability in page.liability.consultant %}
                        <li>{{ liability }}</li>
                        {% endfor %}
                    </ol>
                </figure>
                <h3>Ansvarsbegränsning</h3>
                <p>{{ page.liability.limitation }}</p>
            </section>

            <section>
                <h2>Sekretess</h2>
                <p>{{ page.confidentiality.clause }}</p>
                <figure>
                    <figcaption>Konsulten förbinder sig att:</figcaption>
                    <ol type="a">
                        {% for detail in page.confidentiality.details %}
                        <li>{{ detail }}</li>
                        {% endfor %}
                    </ol>
                </figure>
                <figure>
                    <figcaption>Undantag:</figcaption>
                    <ol type="a">
                        {% for exception in page.confidentiality.exceptions %}
                        <li>{{ exception }}</li>
                        {% endfor %}
                    </ol>
                </figure>
            </section>

            <section>
                <h2>Avtalstid</h2>
                <p>
                    Detta avtal träder i kraft {{ page.scope.start_date | date: "%Y-%m-%d" }} och gäller till och med {{ page.scope.end_date | date: "%Y-%m-%d" }}.
                </p>
                <p>
                    Om Avtalet inte sägs upp av någon part senast {{ page.termination.notice_period }} 
                    före avtalstidens utgång förlängs Avtalet med {{ page.scope.auto_extension }} åt gången med {{ page.termination.notice_period }}  uppsägningstid. 
                    Uppsägning ska ske skriftligt.
                </p>
            </section>

            <section>
                <h2>Ändring av Avtalet</h2>
                {% for amendment in page.amendmets %}
                <p>{{ amendment }}</p>
                {% endfor %}
            </section>

            <section class="termination">
                <h2>Hävning av Avtalet</h2>
                {% for paragraph in page.termination.details %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </section>

            <section>
                <h2>Tillämplig lag och tvistlösning</h2>
                <p>{{ page.governing_law.law }}</p>
                <p>{{ page.governing_law.dispute }}</p>
            </section>

            <section>
                <h2>Befriande omständigheter</h2>
                {% for paragraph in page.force_majeure %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </section>

            <footer class="signatures">
                <p>Avtalet är upprättat i två (2) identiska exemplar, varav parterna erhållit var sitt.</p>
                <div>
                    <div>
                        <h4>För {{ client.name }}</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Ort & datum</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">{{ client.contact.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <h4>För {{ consultant.name }}</h4>
                        <table>
                            <tbody>
                                <tr>
                                    <th>Ort & datum</th>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="2">{{ henrik.name }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </footer>
        </article>
    </main>
    <button class="theme-toggle" title="Toggle dark mode">.</button>
    <script src="{{ '/assets/main.js' | absolute_url }}"></script>
</body>
</html>