<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
	<head>
		{% include ld.html %}
		{% include head.html description="Henrik Becker is a senior full stack developer based in Stockholm, Sweden. He is an expert in C#, Asp.Net MVC/Web Api and a practitioner of Test Driven Development and agile processes." %}
		<meta property="og:type" content="profile" />
		<meta property="profile:first_name" content="Henrik" />
		<meta property="profile:last_name" content="Becker" />
		<meta property="profile:gender" content="male" />
		<link rel="stylesheet" type="text/css" href="/assets/landing-page.css" />
	</head>
	<body id="page-top">
		{{ content }}
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>