<!DOCTYPE html>
{% assign description = page.description %}
{% if include.description %}
	{% assign description = include.description %}
{% endif %}
{% assign title = page.title %}
{% assign class = page.name | split: '.' | first | downcase %}
<html lang="{% if page.lang %}{{ page.lang}}{% else %}en{% endif %}" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
	<head>
		{% include ld.html %}
		{% include head.html %}
		<link rel="stylesheet" type="text/css" href="{{ '/assets/app.css' | absolute_url }}" />
		{% feed_meta %}
		{% include favicon.html %}
	</head>
	<body{% unless class == "" %} class="{{ class }}"{% endunless %}>
		{% include navigation.html %}
		{{ content }}
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
