<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang}}{% else %}en{% endif %}">
	<head>
		<title>{{ site.title }}</title>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ '/style.css' | absolute_url }}" />
	</head>
	<body>
		<div class="container">
			<header>
				<h1>{{ page.title }}{% if page.tagline %} - {{ page.tagline }}{% endif %}</h1>
			</header>
			<article role="main">
				{{ content }}
			</article>
			<footer>
			</footer>
		</div>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	</body>
</html>
