---
---
<!DOCTYPE html>
<html lang="en-AU">
{% assign timestamp = site.time | date: '%s' %}
<head>
  {% if page.title %}{% assign title = page.title %}{% else %}{% assign title = "Henrik Becker - Software Engineer" %}{% endif %}
  {% if page.redirect %}<meta http-equiv="refresh" content="0;url={{ page.redirect }}" />{% endif %}
  <script src="https://kit.fontawesome.com/ceeaf2ba40.js" crossorigin="anonymous"></script>
  <title>{{ title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ description }}" />
  <meta name="twitter.description" content="{{ description }}" />
  <meta name="author" content="{{ site.data.person.name }}" />
  <meta name="copyright" content="{{ site.data.person.name }}" />
  <meta name="theme-color" content="#010101" />
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:locale" content="en_AU" />
  <meta property="og:locale:alternate" content="sv_SE" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:url" content="{{ site.production_url }}{{ page.url }}" />
  <link rel="canonical" href="{{ site.production_url }}{{ page.url }}" />
  <link rel="home" href="{{ site.production_url }}" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/img/favicon192x192.png" />
  <link rel="stylesheet" type="text/css" href="/assets/css/legacy.css?v={{ timestamp }}" />
  {% for style in page.styles %}{% if style.href %}{% assign href = style.href %}{% else %}{% assign href = style %}{% endif %}
  <link rel="{% if style.rel %}{{ style.rel }}{% else %}stylesheet{% endif %}" type="{% if style.type %}{{ style.type }}{% else %}text/css{% endif %}" href="{{ href }}{% unless href contains 'http' %}?v={{ timestamp }}{% endunless %}" />
  {% endfor %}
</head>

<body>
  {% unless page.redirect %}
  <main id="root">
    {{ content }}
  </main>
  <script src="/assets/js/vendors.js?v={{ timestamp }}"></script>
  <script src="/assets/js/keepAlive.js?v={{ timestamp }}"></script>{% for script in page.scripts %}{% if script.src %}{% assign src = script.src %}{% else %}{% assign src = script %}{% endif %}
  <script src="{{ src }}{% unless src contains 'http' %}?v={{ timestamp }}{% endunless %}" {% if script.crossorigin %} crossorigin="{{ script.crossorigin }}" {% endif %}></script>{% endfor %}
  {% else %}
  <div id="error">
    <div>
      <h1><i class="fas fa-directions"></i></h1>
      This page has moved.<br />
      <a href="{{ page.redirect }}">Click here if you are not automatically redirected</a>.
    </div>
  </div>
  {% endunless %}
  </main>
</body>
</html>