---
layout: null
---
<!DOCTYPE html>{% assign company = site.data['organization'] %}{% assign person = site.data['person'] %}{% assign profile = site.data['profile'] %}{% assign page_class = page.name | lcase | split: "." | slice: 0, 1 | first %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {% for format in site.data.formats %}<link rel="alternate" type="{{ format.mime_type }}" title="My resumé in {{ format.name }} format" href="{{ format.url | absolute_url }}" />
    {% endfor %}
    <link rel="apple-touch-icon" href="{{ '/favicon.png' | absolute_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" />
    {% comment %}<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">{% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/handiman/henrikbecker.net.chat.ui@0.0.23/dist/collection/cv-chat.css" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | absolute_url }}" />
    <script type="module">
        import { defineCustomElements } from 'https://cdn.jsdelivr.net/gh/handiman/henrikbecker.net.chat.ui@0.0.23/dist/esm/loader.js';
        defineCustomElements();
    </script>        
</head>
<body class="{{ page_class }} {{ page.layout }}">
    {% unless page_class == 'cv' %}{% include header.html %}{% endunless %}
    {{ content }}
    {% include footer.html %}
</body>
</html>         