---
layout: null
---
<!DOCTYPE html>
{% assign company = site.data['organization'] %}
{% assign person = site.data['person'] %}
{% assign profile = site.data['profile'] %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% seo title=false %}
    {% for format in site.data.formats %}<link rel="alternate" type="{{ format.mime_type }}" title="My CV in {{ format.name }} format" href="{{ format.url | absolute_url }}" />
    {% endfor %}
    <link rel="apple-touch-icon" href="{{ '/favicon.png' | absolute_url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.min.css' | relative_url }}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/handiman/henrikbecker.net.chat.ui@0.0.23/dist/collection/cv-chat.css" />
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
    <script type="module">
        import { defineCustomElements } from 'https://cdn.jsdelivr.net/gh/handiman/henrikbecker.net.chat.ui@0.0.23/dist/esm/loader.js';
        defineCustomElements();
    </script>        
</head>
{% capture page_class %}{{ page.class }} {{ page.layout }} {{ page.slug }}{% endcapture %}
<body class="{{ page_class | strip }}">
    {% include header.html %}
    <main id="content">
        {{ content }}
    </main>
    {% include footer.html %}
  <button class="theme-toggle" title="Toggle dark mode">.</button>
  <script src="{{ '/assets/main.js' | absolute_url }}"></script>
</body>
</html>         