---
layout: page
---
<div data-section="{{ title }}" data-source="{{ page.url | absolute_url }}">
    <article>
        <header>
            <h1>{{ title }}</h1>
        </header>
        {{ content }}
    </article>
</div>
