name: Build and Publish
on:
  workflow_dispatch:
  push:
    branches: [ master ]
env:
  JEKYLL_ENV: production    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.4

      - name: Install Typst
        run: |
          sudo apt-get update 
          sudo apt-get install -y curl xz-utils
          curl -L https://github.com/typst/typst/releases/latest/download/typst-x86_64-unknown-linux-musl.tar.xz -o _typst.tar.xz
          tar -xf _typst.tar.xz
          sudo mv typst-x86_64-unknown-linux-musl/typst /usr/local/bin/typst
          sudo chmod +x /usr/local/bin/typst

      - name: Build gh-pages
        run: |
          gem install bundler -v 2.5
          bundler install
          bundle exec jekyll build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId:  ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: henrikbecker
          directory: _site
      
      - name: Publish gh-pages
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: _site
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Publish gist
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.AUTH_TOKEN }}
          gist_id: 3881a8e890dd1032cce3f5e655859717
          gist_file_name: resume.json
          file_path: ./_site/assets/henrik-becker-resume.json
