name: Build and Publish
on:
  workflow_dispatch:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.4

      - name: Install Typst
        run: |
          apt-get update
          apt-get install -y curl
          curl -L https://github.com/typst/typst/releases/latest/download/typst-linux-x86_64 -o /usr/local/bin/typst
          chmod +x /usr/local/bin/typst

      - name: Build gh-pages
        run: |
          gem install bundler -v 2.5
          bundler install
          bundle exec jekyll build
      
      - name: Publish gh-pages
        uses: s0/git-publish-subdir-action@develop
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: _site
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Publish gist
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.AUTH_TOKEN }}
          gist_id: 3881a8e890dd1032cce3f5e655859717
          gist_file_name: resume.json
          file_path: ./_site/assets/henrik-becker.json
